<nav class="breadcrumb-nav">
    <div class="nav-wrapper">
        <div class="col s12">
            {% for bc in breadcrumb %}
            <a href="{{ bc.href }}" class="breadcrumb">{{ bc.text }}</a>
            {% endfor %}
        </div>
    </div>
</nav>

