<ul id='sharingBox'>
    <li>
        <a href="#" class="share-link" data-social="facebook"><i class="mdi mdi-facebook-box"></i></a>
        <a href="#" class="share-link" data-social="google"><i class="mdi mdi-google-plus-box"></i></a>
        <a href="#" class="share-link" data-social="twitter"><i class="mdi mdi-twitter-box"></i></a>
    </li>
</ul>
