<div class="card horizontal">
    <div class="card-image">
        <div class="circle">&nbsp;</div>
    </div>
    <div class="card-stacked">
        <b><a href="{{ url(card.link) }}">{{ card.title }}</a></b>
       {{  card.content }}
    </div>
</div>


