body {
    background-color: #FFFFFF ;
}

nav {
    background-color: #424242;
}
.breadcrumb-nav {
    background-color: transparent;
    box-shadow: none;
}

.breadcrumb,
.breadcrumb:last-child,
.breadcrumb::before {
    color: black;
}

.background-2 {
    background-color: rgba(0,150,136,0.3);
}


.search_name {
    margin-left: 40px;
}
input[type="text"] {
    background-color: #FAFAFA !important;
}
.btn {
    background-color: black;
}

.btn:hover {
    background-color: #555555;
}

.grey-circle {
     width: 50px;
     height: 50px;
     background: transparent;

     margin-top:10px;
     margin-right:25px;

}

.admin_navbar {
    background-color: #3F51B5;
}
.text-grey {
    color: #949494;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.roundedImage {
    overflow:hidden;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    width:50px;
    height:50px;
    background-color: #949494;
    margin-right:25px;
}

.background-1 {
    background-color: #ffffff;
}

.btn-cancel {
    border-color: #424242;
    background-color: #ffffff;
    color: black;
    text-transform: uppercase;
}

.btn-validate {
    background-color: #FF3D00;
    color: white;
    text-transform: uppercase;
}


label {
    color: black;
}
.roundedImage-medium {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;
    background-color: #FAFAFA;
    margin-right:50px;
}

.pagination li.active a {
    background-color: #3F51B5;
}
.admin_card {
    height: 150px !important;
    padding-left:20px;
    padding-right:20px;
}


.user-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card-stacked {
    padding-top: 10px;
}
a {
    color: black;
}

.pagination li.active {
    background-color: #555555;
}
