<footer class="page-footer">
    <div class="container">
        <div class="row no-pad-bot">
            <div id="stay-connect" class="col l4 m12 s12 right">
                <div class="row hide-on-med-and-down">
                    <div class="col s12">
                        <h2>Dernière actualité</h2>
                        <span class="title"><a href="#">Titre article</a></span>,
                        <span class="date">posté le 01/01/2017</span>
                    </div>
                </div>
                <div class="row no-pad-bot">
                    <div class="col s12">
                        <h2>Restez informé</h2>
                        <div class="row no-pad-bot">
                            <form class="col s12" method="post">
                                <div class="row no-pad-bot">
                                    <div class="input-field col s12">
                                        <input id="news_email" name="news_email" type="email" class="validate">
                                        <label for="news_email">Email</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="submit" name="submit" class="btn waves-effect" value="S'inscrire à la newsletter" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l4 m12 s12 center-align hide-on-med-and-down right">
                <div class="logo-medium"></div>
            </div>
            <div class="col l4 m12 s12 right">
                <div class="row hide-on-med-and-down">
                    <div class="col s12">
                        <ul>
                            <li><a class="light" href="a-propos.html">À propos</a></li>
                            <li><a class="light" href="blog.html">Le blog</a></li>
                            <li><a class="light" href="restez-connecte.html">Restez connecté</a></li>
                            <li><a class="light" href="faq.html">Faq</a></li>
                            <li><a class="light" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row no-pad-bot">
                    <div class="col s12">
                        <h2>Restez connecté</h2>
                        <ul class="social">
                            <li><a class="light" href="https://www.facebook.com/Nos-amis-les-oiseaux-709279699264029/" target="_blank"><i class="mdi mdi-facebook"></i></a></li>
                            <li><a class="light" href="https://plus.google.com/105417715833330667133"><i class="mdi mdi-google-plus" target="_blank"></i></a></li>
                            <li><a class="light" href="https://twitter.com/asso_nao"><i class="mdi mdi-twitter" target="_blank"></i></a></li>
                            <li><a class="light" href="https://www.instagram.com/asso.nao/"><i class="mdi mdi-instagram" target="_blank"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="scroll-container" class="circle"><a id="scroll-top" href="#"><i class="mdi mdi-arrow-up-thick"></i></a></div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    Nos Amis les Oiseaux - 2017 <br />
                    Propulsé par Dot.coM  - <a href="mentions-legale.html" class="light">Mentions légales</a>
                </div>
            </div>
        </div>
    </div>
</footer>
