<section>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="slogan">Vous avez l'oeil ? <br /> Envolez-vous avec</h1>
            </div>
            <div class="col s12 center-align">
                <img src="images/logo/white/logo-NAO-white-shadow-3.png" alt="Grand logo blanc nos amis les oiseaux" />
            </div>
            <div class="col s12 center-align">
                <ul id="control">
                    <li><a href="#more" class="btn full white scroll-to waves-effect">en savoir plus</a></li>
                    <li><a href="observer.html" class="btn full waves-effect">soumettre une observation</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
