{% extends "common/template/email.html.twig" %}

{% block body %}
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <h3>{{ 'email_account_activation_title'|trans }}</h3>
                                <br />
                                <table class="summary">
                                    {{ 'email_account_activation_content'| trans({
                                        '%name%': user.name ,
                                        '%confirmationUrl%': absolute_url(path('registration.activation', {'code' : user.token}))
                                    })| nl2br }}

                                    {{ 'email_signature'|trans|nl2br }}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
{% endblock %}