{% extends "common/template/email.html.twig" %}

{% block body %}
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <h3>{{ 'email_feedback_title'|trans }}</h3>
                                <br />
                                <table class="summary">
                                    {{ 'email_feedback_content'| trans({
                                        '%name%': feedback.name,
                                        '%email%' : feedback.email,
                                        '%objet%' : feedback.object,
                                        '%message%' : feedback.message })| nl2br }}

                                    {{ 'email_signature'|trans|nl2br }}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
{% endblock %}
