<ul id='dropdown-search' class='dropdown-content'>
    <li>
        <form class="col s12" action="{{ path('search.global') }}">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input id="sub-search" type="text" class="validate" name="search" placeholder="{{ 'search'|trans }}" autocomplete="off">
            </div>
        </form>
    </li>
</ul>
