{%  for user in users %}
<div class="col s12 m6">
<a href="{{ path('admin_user_update', { 'id': user.id}) }}">
    <div class="card horizontal z-depth-0">
        <div class="card-image roundedImage">
            <img src="{{ asset('images/users/'~user.getImagePath) }}">
        </div>
        <div class="card-stacked">
            <b>{{ user.getName }}</b>
            <span class="text-grey">{{ user.roleString }}</span>
        </div>

    </div>
</a>
</div>
{% endfor %}
